<div class="config">
    <div class="config_detail">
        <div class="config_icon">
            <i class='bx bx-sort-alt-2 bx-rotate-90'></i>
        </div>
        <div class="config_description">Transferencias</div>
    </div>
    <div class="config_action">
        <input type="checkbox" hidden="hidden" id="transfer" checked>
        <label class="switch" for="transfer"></label>
    </div>
</div>
<div class="config">
    <div class="config_detail">
        <div class="config_icon">
            <i class='bx bxs-offer'></i>
        </div>
        <div class="config_description">Ofertas</div>
    </div>
    <div class="config_action">
        <input type="checkbox" hidden="hidden" id="oferta">
        <label class="switch" for="oferta"></label>
    </div>
</div>